<form class="searchForm">
  <div>
    <input name="searchText" #searchText="ngModel" [(ngModel)]="searchForm.searchText" class="form-control" maxlength="20"
      required pattern="^[A-ź\s0-9\-]{2,20}$">
    <!-- <div *ngIf="brand.invalid && brand.touched" class="error">Błędnie uzupełnione pole Marka</div> -->
  </div>
  
  <div>
    <select class="form-select" name="column" #column="ngModel" [(ngModel)]="searchForm.column">
      <option value="brand">Marka</option>
      <option value="model">Model</option>
      <option value="price">Cena</option>
    </select>
  </div>
  <button class="btn btn-outline-secondary" type="button" (click)="searchCars()">Szukaj</button>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Lp.</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Cena</th>
      <th scope="col">Opcje</th>
    </tr>
  </thead>
  <tbody>
    @for (car of cars; track car; let i = $index) {
      <tr [routerLink]="['/view-car', car.id]">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.price }}zł</td>
        <td>
          <button (click)="openModal('mod', $event, car)" type="button" class="btn btn-warning btn-sm">Modyfikuj</button>
          <button (click)="delCar(car.id!, $event)" type="button" class="btn btn-danger btn-sm">Usuń</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<button (click)="openModal()" type="button" class="btn btn-primary">Dodaj</button>
